body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.top-image {
    background: orange;
    height: 400px;
}

.head-title {
    text-align: center;
    color: #fff;
    font-weight: normal;    
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.space {
    margin-top: 100px;
}

.marketing h2 {
    font-weight: 400;
    margin: 1.5rem 0.5rem;
    padding-left: 8px;
}

.underline {
    background: linear-gradient(transparent 80%, #ffff66 80%);
    display: inline-block;
}

.marketing li {
    margin: 0.75rem;
}

.featurette-divider {
    margin: 5rem 0;
}

img {
    max-width: 320px;
    border: solid 1px #ccc;
    margin-left: 30px;
}

.clear {
    clear: left;
}
